@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Oxygen', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  box-sizing: border-box;

}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.glass {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.list-icon {
  color: #EFB15D;
  font-size: 1.75rem;
}

.landing-image {
  z-index: -1;
  object-fit: cover;
  position: fixed;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.textfield {
  overflow-y: hidden;
  height: 100%;
  color: #EFB15D !important;
  border-color: rgba(229, 227, 229, 0.2) !important
}

.textfield-label {
  height: 100%;
  color: #EFB15D !important
}
